[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlmodel = "*"
pandas = "*"
psycopg2-binary = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
